.App {
  width: 100%;
  max-width: 25rem;
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
}

.name-container {
  margin-bottom: 2rem;
}

.name-text {
  margin: 0;
  font-size: .875rem;
}

.info-text {
  margin: 0;
  font-size: .875rem;
  color: #AAA;
}

.body-container {
  margin-bottom: 2rem;
}

.body-text {
  margin: 0;
  font-size: .875rem;
}

.link-container {

}

.link-list {
  margin: 0;
  padding: 0;
}

.link-item {
  display: inline;
  list-style-type: none;
}

.link-item:not(:last-child) {
  margin-right: .5rem;
}

.link {
  margin: 0;
  font-size: .875rem;
}

.link:hover {
  cursor: alias;
  color: #AAA;
}