.App {
  width: 100%;
  max-width: 25rem;
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
}

.text-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

.name-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.name-text {
  margin: 0;
  font-size: .875rem;
  font-weight: 600;
}

.name-text:not(:last-child) {
  margin-right: .25rem;
}

.emoji:hover {
  cursor: help;
}

.info-text {
  margin: 0;
  font-size: .875rem;
  font-weight: 500;
  color: #AAA;
}

.body-text {
  margin: 0;
  font-size: .875rem;
}

.link-list {
  margin: 0;
  padding: 0;
}

.link-item {
  display: inline;
  list-style-type: none;
}

.link-item:not(:last-child) {
  margin-right: .5rem;
}

.link {
  margin: 0;
  font-size: .875rem;
  color: #171717;
}

.link:hover {
  cursor: alias;
  color: #AAA;
}